ion-content {
  --background: var(--color-neutral-01);
}

ion-modal {
  --background: var(--color-neutral-01);
  
  ion-content {
    --background: var(--color-neutral-01);
  }

  ion-item {
    --background: var(--color-neutral-01);
    
    ion-label {
      --color: var(--color-neutral-05);
    }

    ion-input {
      --color: var(--color-neutral-05);
      --placeholder-color: var(--color-neutral-04);
    }
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
    color: var(--color-info);
  }

  p {
    text-align: center;
    color: var(--color-secondary);
  }
}

.add-movie {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.suggestions-list {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 4px;
  border: 1px solid var(--color-neutral-03);
  border-radius: 4px;
  background: var(--color-neutral-01);
  position: absolute;
  width: 100%;
  z-index: 10;
}

.suggestions-list ion-item {
  font-size: 14px;
  padding: 8px;
  color: var(--color-neutral-05);
}

.suggestions-list ion-item {
  --background: var(--color-neutral-02);
  --color: var(--color-neutral-05);
}