<ion-content>
  <!-- Mensaje cuando no está logueado -->
  <div *ngIf="!isLoggedIn" class="message-container">
    <ion-text color="medium">
      <h2 class="ion-text-center">Welcome to MyMovieList!</h2>
      <p class="ion-text-center">
        To create and manage your movie list, you need to login or register if
        you dont have an account yet.
      </p>
    </ion-text>
  </div>

  <div *ngIf="isLoggedIn">
    <ion-button expand="block" id="open-add-movie-modal" class="add-movie">
      Add Movie
    </ion-button>

    <ion-list>
      <ion-card *ngFor="let b of movies">
        <img [src]="b.poster" [alt]="b.name" />
        <ion-card-header>
          <ion-card-title>{{b.name}}</ion-card-title>
          <ion-card-subtitle>Rating: {{b.rating}}</ion-card-subtitle>

          <div class="card-icons">
            <ion-button fill="clear" size="small" (click)="openUpdateModal(b)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>

            <ion-button fill="clear" size="small" (click)="deleteMovie(b.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p>{{b.plot}}</p>
          <ion-text color="medium">
            <p>Director: {{b.director}}</p>
            <p>Year: {{b.year}}</p>
            <p>Genre: {{b.genre}}</p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <ion-modal trigger="open-add-movie-modal">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input
            [(ngModel)]="addMovieTitle"
            (ionInput)="onTitleChange($event)"
            placeholder="Enter the title of the movie"
          ></ion-input>
        </ion-item>

        <ion-list *ngIf="suggestions.length > 0" class="suggestions-list">
          <ion-item
            button
            *ngFor="let s of suggestions"
            (click)="selectSuggestion(s)"
          >
            {{ s.Title }} ({{ s.Year }})
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label position="stacked">Rating</ion-label>
          <ion-input
            [(ngModel)]="addMovieRating"
            placeholder="Enter the rating"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="addMovie()">Add</ion-button>
        <ion-button expand="block" color="medium" (click)="dismissModal()"
          >Cancel</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #updateModal [isOpen]="isUpdateModalOpen" (didDismiss)="closeUpdateModal()">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input [(ngModel)]="updateMovieTitle" placeholder="Enter the title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Rating</ion-label>
          <ion-input [(ngModel)]="updateMovieRating" placeholder="Enter the rating"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="saveUpdate()">Save</ion-button>
        <ion-button expand="block" color="medium" (click)="closeUpdateModal()">Cancel</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>