ion-content {
  --background: var(--color-neutral-01);
}

ion-modal {
  --background: var(--color-neutral-01);
  
  ion-content {
    --background: var(--color-neutral-01);
  }

  ion-item {
    --background: var(--color-neutral-01);
    
    ion-label {
      --color: var(--color-neutral-05);
    }

    ion-input {
      --color: var(--color-neutral-05);
      --placeholder-color: var(--color-neutral-04);
    }
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
    color: var(--color-info);
  }

  p {
    text-align: center;
    color: var(--color-secondary);
  }
}